body
  text-align: center
  font-family: "Bitter"
  color: white
  background: $dark-color
  font-size: 0.5em
  @media (min-width: $viewport-large)
    font-size: 1em
.cover
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  background: rgba(255,0,0,0.6)
  display: none
a:link, a:visited
  color: #666
.title
  h1
    color: white
    font-family: "CodyStar"
    margin: 50px 0 0 0
    font-size: 4em
button
  font-family: "Bitter"
  background: $primary-color
  padding: 30px
  font-size: 3em
  color: white
  border-radius: 10px
  border: none
.pick
  font-weight: 100
  font-size: 7em
  margin: 0
  display: none
  text-transform: uppercase
.start
  display: block
  margin: 20px auto
  width: 80%
  font-size: 2.5em
  font-weight: 700
  em
    display: block
    font-size: 0.6em
    font-weight: 400
    opacity: 0.7
    font-style: normal
    vertical-align: middle
  @media (min-width: $viewport-large)
    width: 50%
.console
  display: none
  color: white
  font-size: 2em
  text-align: left
  h1, p
    margin: 0
.colors
  display: none
  .color
    background-color: silver
    height: 85px
    width: 85px
    display: inline-block
    margin: 5px 8px
    box-shadow: 0 0 5px rgba(255,255,255,0.1)
    cursor: pointer
    box-sizing: border-box
    @media (min-width: $viewport-large)
      height: 200px
      width: 200px
    .no-touch &:hover
      border: 10px solid rgba(255,255,255,0.4)
      box-shadow: 0 0 30px rgba(255,255,255,0.3)
.score
  font-weight: 400
  em
    font-weight: 700
    font-style: normal
    color: $primary-color